:root {
    --bleu1 : rgb(0, 100, 255);
    --bleu2 : rgb(0, 0, 50);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(245, 245, 245);
}



/* CSS pour la page Panier •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


.cartHome {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 0px 100px 0px;
}
.cartHome h1 {
    width: 100%;
    margin: 0 0 15px 0;
}

.cartHome form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:800px) {
    .cartHome form {
        justify-content: center;
    }
}

.cartProducts {
    width: 60%;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
}
@media screen and (max-width:800px) {
    .cartProducts {
        width: 85%;
        margin: 0 0 30px 0;
    }
}

.cartTotalPrice {
    width: 25%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--bleu2);
    border-radius: 30px;
}
.cartTotalPrice h2 {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
}
.cartTotalPrice .totalPrice {
    width: 20%;
}
.cartTotalPrice p {
    width: 80%;
}
.cartTotalPrice input {
    width: 50%;
    margin: 30px 0 0 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: medium;
    background-color: var(--bleu1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cartTotalPrice input:hover {
    filter: brightness(1.25);
    transition: 0.25s;
}
.cartTotalPrice input:active {
    filter: brightness(0.75);
    transform: scale(0.95);
    transition: 0.25s;
}
@media screen and (max-width:800px) {
    .cartTotalPrice {
        width: 85%;
        padding: 15px;
    }
    .cartTotalPrice .totalPrice {
        width: 25%;
    }
    .cartTotalPrice p {
        width: 75%;
    }
}