:root {
    --bleu1 : rgb(0, 100, 255);
    --bleu2 : rgb(0, 0, 50);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(245, 245, 245);
}



/* CSS pour la page d'accueil •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


.container{
    width: 1370px;
    height: 400px;
    position: relative;
    margin: 55px 0px 55px 0px;
}

.slideImage{
    width: 1370px;
    height: 400px;

}

.item-1{
    position: absolute;
    height: 400px;
    width: 50px;
    display: flex;
    align-items: center;
    left: 0px;
    z-index: 2;
}

.item-2{
    position: absolute;
    height: 400px;
    width: 50px;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 2;
}

.item-1 button{
    border: none;
    cursor: pointer;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}

.item-2 button{
    border: none;
    cursor: pointer;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.carousel{
    height: 400px;
    width: 100%;
    position: static;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
}

.slider{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}

.slider section {
    flex-basis: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.controls .arrow{
    position: absolute;
    cursor: pointer;
}

.controls span{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.controls span .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-1 .arrow a{
    color: white;
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    right: 0px;
    position: relative;
    font-size: 20px;
    padding: 0px 3px 0px 0px;
}

.item-1 .arrow a:hover{
    color: blue;
}

.item-2 .arrow a:hover{
    color: blue;
}

.item-2 .arrow a{
    color: white;
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    position: relative;
    left: 0px;
    font-size: 20px;
    padding: 0px 0px 0px 3px;
}

.arrow.left{
    left: none;
    background: blue;
    border-radius: 0px 100px 100px 0px;
}

.arrow.left:hover{
    background: white;
}

.arrow.right{
    right: 0;
    background: blue;
    border-radius: 100px 0px 0px 100px;

}

.arrow.right:hover{
    background: white;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.controls ul{
    position: static;
    margin: auto;
    bottom: 55px;
    left: 50%;
    z-index: 4;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
    background-color: transparent;
}

.controls ul li{
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 10px;
    background: rgb(178, 178, 178);
    cursor: pointer;
}



.controls ul li.selected{
    background: blue;
}

@media screen and (max-width: 900px){
    .container{
        width: 768px;
        height: 224px;
    }
    
    .slideImage{
        width: 768px;
        height: 224px;
    
    }

    .item-1{
        height: 224px;
        width: 50px;
    }
    
    .item-2{
        height: 224px;
        width: 50px;
    }
    
    .carousel{
        height: 224px;
    }

    .slider{
        height: 224px;
    }

    .slider section{
        height: 224px;
    }
}

@media screen and (max-width: 480px){
    .container{
        width: 345px;
        height: 100px;
    }
    
    .slideImage{
        width: 345px;
        height: 100px;
    
    }

    .item-1{
        height: 100px;
        width: 50px;
    }
    
    .item-2{
        height: 100px;
        width: 50px;
    }
    
    .carousel{
        height: 100px;
    }

    .slider{
        height: 100px;
    }

    .slider section{
        height: 100px;
    }
    
    
    .item-1 .arrow a{
        color: blue;
    }
    
    .item-2 .arrow a{
        color: blue;
    }
    
    .arrow.left{
        background: transparent;
    }

    .arrow.left:hover{
        background: transparent;
    }
    
    .arrow.right{
        background: transparent;
    
    }

    .arrow.right:hover{
        background: transparent;
    }
}

main {
    margin: 20px 0px 20px 0px;
    width: 100%;
}

main section {
    width: 80%;
    margin: 40px auto 80px auto;
}

main section h2 {
    margin: 40px 0px 40px 0px;
}

main .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article {
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
}


@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
  }

main .new-band {
    display: inline;
    background-color: red;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 20px;
    margin: 0px 130px 0px 0px;
    animation: pulse-animation 2s infinite;
}

main .product-title {
    display: block;
    color: #0064FF;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    width: 100px;
    margin: 0px 50px 0px 50px;
    text-align: center;
    font-size: 10px;
}

main span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .new-img {
    height: 100px;
    width: 100px;
    margin: 0px 20px 0px 20px;
    padding: 20px 0px 0px 0px;
}

main a {
    display: block;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    background-color: #0064FF;
    color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
}

main a:hover{
    transform: scale(1.15);
    transition: 0.25s;
}

main .brands {
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    height: 200px;
    align-items: center;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

main .brand-img{
    height: 100px;
    width: auto;
}

main .brand-img:hover{
    transform: scale(1.5);
    transition: 0.25s;
}

@media screen and (max-width: 900px){

    main .news {
        justify-content: center;
    }

    main section h2 {
        text-align: center;
    }
    
    main article {
        width: 200px;
        margin: 30px;
    }
    
    main .product-title {
        margin: 0px 30px 0px 30px;
        font-size: 10px;
    }
    
    main a {
        font-size: 11px;
    }
    
    main .brands {
        flex-wrap: wrap;
    }
    
    main .brand-img{
        height: 80px;
    }
}

@media screen and (max-width: 480px){
    
    main .news {
        justify-content: center;
    }

    main section h2 {
        text-align: center;
    }

    main article {
        width: 200px;
    }
    
    main .product-title {
        margin: 0px 50px 0px 50px;
    }
    
    main a {
        font-size: 8px;
    }
    
    main .brands {
        flex-wrap: wrap;

    }
    
    main .brand-img{
        height: 50px;
    }
}

/* CSS pour la Newsletter •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


aside {
    width: 100%;
    background-color: #C8E6FF;
    padding: 60px 0px 70px 0px;
}

aside div {
    background-color: #C8E6FF;
    width: 80%;
    margin: auto;
}

aside h2 {
    margin: 0px 0px 40px 0px;
}

aside section {
    display: flex;
    flex-wrap: wrap;
}

aside form {
    width: auto;
    height: 65px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

aside input {
    outline: none;
    border: none;
}

aside #email{
    background-color: white;
    padding: 10px 0px 10px 30px;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
}

aside #submit{
    padding: 10px;
    margin: 0px 13px 0px 13px;
    background-color: #6c6c6c;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    text-align: center;
}

aside #submit:hover{
    transform: scale(1.1);
    transition: 0.25s;
    background-color: #0064FF;
}

aside p {
    color: #0064FF;
    margin: 0px 0px 40px 0px;
    font-size: 14px;
}

aside span{
    display: flex;
    padding: 40px 0px 40px 0px;
    width: 100%;
}

aside a {
    display: block;
    height: 20px;
    margin: 0px 10px 0px 10px;
    color: #6c6c6c;
    font-size: 12px;
}

@media screen and (max-width: 900px){
    aside span{
        width: 700px;
    }
    
    aside a {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px){
    aside #email{
        width: 170px;
    }
}