:root {
    --bleu1 : rgb(0, 100, 255);
    --bleu2 : rgb(0, 0, 50);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(245, 245, 245);
}



/* CSS pour la page Produits •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


.productsHome {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.brandsLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.brandsLinks a {
    margin: 0 10px 10px 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    background-color: var(--bleu2);
    border-radius: 10px;
}
.brandsLinks a:hover {
    background-color: var(--bleu1);
    transition: 0.25s;
}
.brandsLinks a:active {
    background-color: rgb(0, 80, 200);
    transform: scale(0.95);
    transition: 0.25s;
}

main {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
main h1 {
    width: 100%;
    margin: 0 0 15px 0;
}

main article {
    width: 25%;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
}
main article img {
    min-width: 100%;
    height: auto;
}
main article h2 {
    width: 100%;
}
main article .productPrice {
    width: 20%;
}
main article p {
    width: 80%;
}
main article button {
    width: 50%;
    margin: 15px 0 0 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: medium;
    background-color: var(--bleu2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
main article button:hover {
    background-color: var(--bleu1);
    transition: 0.25s;
}
main article button:active {
    background-color: rgb(0, 80, 200);
    transform: scale(0.95);
    transition: 0.25s;
}
@media screen and (max-width:800px) {
    main {
        justify-content: center;
    }
    main article {
        width: 85%;
    }
    main article .productPrice {
        width: 25%;
    }
    main article p {
        width: 75%;
    }
}



/* CSS pour la Newsletter •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


aside {
    width: 100%;
    background-color: #C8E6FF;
    padding: 60px 0px 70px 0px;
    margin: 50px 0px 0px 0px;
}

aside div {
    background-color: #C8E6FF;
    width: 80%;
    margin: auto;
}

aside h2 {
    margin: 0px 0px 40px 0px;
}

aside section {
    display: flex;
    flex-wrap: wrap;
}

aside form {
    width: auto;
    height: 65px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

aside input {
    outline: none;
    border: none;
}

aside #email{
    background-color: white;
    padding: 10px 0px 10px 30px;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
}

aside #submit{
    padding: 10px;
    margin: 0px 13px 0px 13px;
    background-color: #6c6c6c;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    text-align: center;
}

aside #submit:hover{
    transform: scale(1.1);
    transition: 0.25s;
    background-color: #0064FF;
}

aside p {
    color: #0064FF;
    margin: 0px 0px 40px 0px;
    font-size: 14px;
}

aside span{
    display: flex;
    padding: 40px 0px 40px 0px;
    width: 100%;
}

aside a {
    display: block;
    height: 20px;
    margin: 0px 10px 0px 10px;
    color: #6c6c6c;
    font-size: 12px;
}

@media screen and (max-width: 900px){
    aside span{
        width: 700px;
    }
    
    aside a {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px){
    aside #email{
        width: 170px;
    }
}